<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="RetryFailedTestSuite" >

	<listeners>

		<listener class-name="analyzer.MyTransformer"></listener>

	</listeners>

	<test name="RetryMultipleFailedTestcases">

		<classes>

			<class name="mytests.MyTest">
			</class>
		</classes>


	</test>



</suite>
